<a href="https://colab.research.google.com/github/Pranay7717/python-projects/blob/pranay/04_02_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sum Items in List(Write a Python program to sum all the items in a list.)

In [2]:
P = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = sum(P)
print(result)

45

Multiply Items in List(Write a Python program to multiply all the items in a list.)

In [8]:
A = [1, 2, 3, 4, 5]
result = 1
for i in A:
    result *= i
print("Multiple:", result)

Multiple: 120

Get Largest Number in List(Write a Python program to get the largest number from a list)

In [11]:
P = [10, 20, 47, 96, 0, 108, 658, 98, 11, 82]
largest = max(P)
print("Largest Number in list is:", largest)

Largest Number in list is: 658

Get Smallest Number in List(Write a Python program to get the smallest number from a list.)

In [26]:
P = [100, 20, 47, 96, 108, 658, 98, 11, 82]
smallest = P[0]
for i in P:
    if i < smallest:
        smallest = i
print("Smallest Number in the list is:", smallest)

Smallest Number in the list is: 11

5. Count Strings with Same Start and End(Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.)
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2

In [1]:
def matching_string(words):
    count = 0
    for i in words:
        if len(i) >= 2 and i[0] == i[-1]:
            count += 1
    return count
P = ['abc', 'xyz', 'aba', '1221']
result = matching_string(P)
print("Number of matching strings are:", result)

Number of matching strings are: 2