<a href="https://colab.research.google.com/github/Pranay7717/python-projects/blob/pranay/Hometask2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
user_value = float(input("Enter the radius of the circle:"))
area= 3.14*user_value**2
print(area)

Enter the radius of the circle:890
2487194.0

In [ ]:
user_input = int(input("Enter your value"))
if user_input <0:
  print("it is negative")
else:
  print("it is positive")

Enter your value7
it is positive

Given task

In [ ]:
value1=int(input("enter value 1:"))
value2=int(input("enter value 2:"))
for uservalue in range(value1, value2 +1):
  if uservalue % 2 == 0:
    print(uservalue,"it is even")
  else:
    print(uservalue,"it is odd")

enter value 1:0
enter value 2:7
0 it is even
1 it is odd
2 it is even
3 it is odd
4 it is even
5 it is odd
6 it is even
7 it is odd

calling in a function

In [ ]:
def check_even_odd_range(value1,value2):
 value1 = int(input("Enter value 1: "))
 value2 = int(input("Enter value 2: "))
 for uservalue in range(value1, value2 + 1):
   if uservalue % 2 == 0:
      print(uservalue,"it is even")
   else:
     print(uservalue,"it is odd")
check_even_odd_range(value1,value2)

Enter value 1: 0
Enter value 2: 10
0 it is even
1 it is odd
2 it is even
3 it is odd
4 it is even
5 it is odd
6 it is even
7 it is odd
8 it is even
9 it is odd
10 it is even

In [ ]:
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958,743, 527]
for values in numbers:
    if values == 237:
        print(values)
        break
    elif values % 2 == 0:
        print(values)

386
462
418
344
236
566
978
328
162
758
918
237

creating a calculator with there inputs

In [13]:
def calculator():
 operand = input("Enter operand: ")
 Number1 = int(input("Enter Number1: "))
 Number2 = int(input("Enter Number2: "))
 if operand == "+":
  print(Number1 + Number2)
 elif operand == "-":
    print(Number1 - Number2)
 elif operand == "*":
    print(Number1 * Number2)
 elif operand == "/":
    print(Number1 / Number2)
 elif operand == "%":
    print(Number1 % Number2)
 elif operand == "**":
    print(Number1 ** Number2)
 else:
   print("Invalid operand")
calculator()

Enter operand: *
Enter Number1: 78
Enter Number2: 76
5928

In [ ]:
print("*")
print("* *")
print("* * *")
print("* * * *")
print("* * * * *")

*
* *
* * *
* * * *
* * * * *

In [1]:
for i in range(0, 5):
  print("* " * (i+1))

*
* *
* * *
* * * *
* * * * *